<a href="https://colab.research.google.com/github/jcrawford05/HUM1600/blob/main/InputData1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# James Crawford
# 1/16/2024


# The primary difference between qualitative and quantitative data is the data
# that is categorized by each. Qualitative data is some information that is
# NOT comprised of numerical values, for example, when looking at a data set
# that contains the information of studentâ€™s name, graduating year, gender, and
# GPA, the name and gender would be examples of qualitative data. Quantitative
# data is information of the numerical nature. Using the aforementioned example,
# the students' graduating year and GPA would be examples of numerical
# quantitative data. It is to be noted that there are subsections of each of the
# data types. Quantitative data is comprised of Discrete and continuous data
# types. The GPA is an example of a continuous data type, and the graduation
# date is a discrete data type. The subsections of qualitative data types are
# Nominal and Ordinal. Both of the examples used for this data type are Nominal.


# Casting is the action in which a variable type is assigned. This can be done a
# couple of ways, first being explicitly. This is when the programmer tells the
# computer what type if data type the variable will be when the variable is
# initialized. This can be done by doing something like this: float g=9.81.
# Here, I explicitly told the computer that the variable g is a type float and
# has a value of 9.81. Explicitly casting a variable is needed when a variable
# is first introduced and/or the variable needs to be described by some of the
# characteristics that certain variable types allow. The casting method is
# implicit casting. Implicit casting is when the computer changes the variable
# type in order to do an operation that the programmer as requested. For
# example, if we have:
#
# float grav=9.81
# int mass=10
# float force=mass/grav
#
# The compiler would temporally change the data type for the mass to a double in
# order to calculate the value of force.


# The scale refers to the number of digits to the right of the decimal point.
# Precision is the number of significant figures. For the number 9.80665,
# the precision is 6 and the scale is 5.

In [ ]:
# Problem 1:

first = 'James';
last = 'Crawford';
print(first,last);
print(first + '.'+ last +'@email.com');

James Crawford
James.Crawford@email.com

In [ ]:
# Problem 2:

x=100
y=15

print(x*y)
print(type(x*y))
print(x/y)
print(type(x/y))

1500
<class 'int'>
6.666666666666667
<class 'float'>

In [ ]:
# Problem 3

x = input("Enter an Integer:")
y = input("Enter another Integer:")
x=int(x);
y=int(y);
print(type(x),type(y))
print(x/y)
print(type(x/y))

Enter an Integer:5
Enter another Integer:10
<class 'int'> <class 'int'>
0.5
<class 'float'>

Problem 4:

1. True
2. False
3. False

In [ ]:
# Problem 5

x='University of Utah'

print(x[14]+x[8]+x[4]+x[6],end='!') #assuming you want the chars without seperation. If you want spaces, replace the "+" with ","

Utes!

In [ ]:
# Problem 6

string="To be, or not to be, that is the question: Whether 'tis nobler in the mind to suffer The slings and arrows of outrageous fortune, Or to take arms against a sea of troubles And by opposing end them."
A=string.find('A')

r=string.find('r')
e=string.find('e')
b=string.find('b')
l=string.find('l')
ep=string.find("'")
s=string.find('s')
t=string.find('t')
h=string.find('h')
o=string.find('o')
n=string.find('n')
space=string.find(' ')
prd=string.find('.')
print(string[A]+string[space]+string[r]+string[e]+string[b]+string[e]+string[l]+string[ep]+string[s]+string[space]+string[t]+string[h]+string[o]+string[r]+string[n]+string[prd])

A rebel's thorn.